h1,
h2,
p,
a {
  font-family: sans-serif;
}

.logo-name-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.body-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu-bar {
  background: #dddddd;
  height: 96px;
  display: flex;
  padding: 0 15%;
  /* justify-content: space-between */
}
.appbar-links {
  height: inherit;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: inherit;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.free-trial {
  color: #fcba03;
}

.hero-container {
  background: #f6f6f6;
  height: 50%;
  padding: 0 15%;
  display: flex;
  border-bottom: 1px solid gray;
}

.hero-image {
    transform: scale(0.5)
}

.hero-link {
  background: #fcba03;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-1 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.container-2 {
  display: flex;
  flex-grow: 1;
}
.try-link {
  background: fcba03;
  width: auto;
}

.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

.lower-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.footer-container {
    display: flex;
    align-items: center;
    padding: 0 15%;
    justify-content: center;

}

.footer-link{
    align-self: center;
    width: 250px;
    height: 50px;
    border: 1px solid #fcba03;
    display: flex;
    justify-content: center;
}

@media (max-width: 780px) {
  .conditional-columns {
    display: flex;
    flex-direction: column;
  }
  .conditional-text{
      text-align: center;
  }
}
